In [3]:
import pandas as pd
import numpy as np

In [4]:
distance_data_raw = pd.read_csv('./1107_distance_raw_data.csv', encoding = 'utf-8')
distance_data_raw

             date      time  distance
0      2020-11-07  13:40:47     13.10
1      2020-11-07  13:40:47     13.10
2      2020-11-07  13:40:48     13.52
3      2020-11-07  13:40:48     13.63
4      2020-11-07  13:40:48     13.31
...           ...       ...       ...
93403  2020-11-07  16:16:33     22.84
93404  2020-11-07  16:16:33     20.87
93405  2020-11-07  16:16:33     22.84
93406  2020-11-07  16:16:33     22.84
93407  2020-11-07  16:16:33     21.82

[93408 rows x 3 columns]

In [6]:
distance_data_raw['rtime'] = distance_data_raw['date'] + " " + distance_data_raw['time']
distance_data_raw

             date      time  distance                rtime
0      2020-11-07  13:40:47     13.10  2020-11-07 13:40:47
1      2020-11-07  13:40:47     13.10  2020-11-07 13:40:47
2      2020-11-07  13:40:48     13.52  2020-11-07 13:40:48
3      2020-11-07  13:40:48     13.63  2020-11-07 13:40:48
4      2020-11-07  13:40:48     13.31  2020-11-07 13:40:48
...           ...       ...       ...                  ...
93403  2020-11-07  16:16:33     22.84  2020-11-07 16:16:33
93404  2020-11-07  16:16:33     20.87  2020-11-07 16:16:33
93405  2020-11-07  16:16:33     22.84  2020-11-07 16:16:33
93406  2020-11-07  16:16:33     22.84  2020-11-07 16:16:33
93407  2020-11-07  16:16:33     21.82  2020-11-07 16:16:33

[93408 rows x 4 columns]

In [7]:
distance_data_raw = distance_data_raw[['rtime', 'distance']]
distance_data_raw

                     rtime  distance
0      2020-11-07 13:40:47     13.10
1      2020-11-07 13:40:47     13.10
2      2020-11-07 13:40:48     13.52
3      2020-11-07 13:40:48     13.63
4      2020-11-07 13:40:48     13.31
...                    ...       ...
93403  2020-11-07 16:16:33     22.84
93404  2020-11-07 16:16:33     20.87
93405  2020-11-07 16:16:33     22.84
93406  2020-11-07 16:16:33     22.84
93407  2020-11-07 16:16:33     21.82

[93408 rows x 2 columns]

In [8]:
distance_data_raw.duplicated['rtime'].isnull()

TypeError: 'method' object is not subscriptable