In [1]:
import pandas as pd
import numpy as np

In [2]:
log_df = pd.read_csv("./1023_gps_log_edit.csv", encoding = "utf-8")
out_df = pd.read_csv("./1023_raw_output.csv", encoding = "utf-8")

inter_df = pd.read_csv("./1023_data_cleaning/1023_inter_data.csv", encoding = "utf-8")
ffill_df = pd.read_csv("./1023_data_cleaning/1023_ffill_data.csv", encoding = "utf-8")

In [3]:
log_df

            date      time provider device_name   latitude  longtitude
0     2020-10-23  15:09:09      gps     device0  37.384141  126.854119
1     2020-10-23  15:09:10      gps     device0  37.384256  126.854570
2     2020-10-23  15:09:11      gps     device0  37.384319  126.854734
3     2020-10-23  15:09:12      gps     device0  37.384319  126.854734
4     2020-10-23  15:09:13      gps     device0  37.384319  126.854734
...          ...       ...      ...         ...        ...         ...
1928  2020-10-23  15:47:04      gps     device0  37.391064  126.971899
1929  2020-10-23  15:47:05      gps     device0  37.391075  126.971903
1930  2020-10-23  15:47:06      gps     device0  37.391097  126.971910
1931  2020-10-23  15:47:07      gps     device0  37.391121  126.971917
1932  2020-10-23  15:47:08      gps     device0  37.391222  126.971951

[1933 rows x 6 columns]

In [4]:
out_df

            date      time  speed  ldws  lkas
0     2020-10-23  14:51:28   28.0     0     0
1     2020-10-23  14:51:29   27.0     0     1
2     2020-10-23  14:51:30   27.0     0     1
3     2020-10-23  14:51:31   28.0     0     1
4     2020-10-23  14:51:32   29.0     0     1
...          ...       ...    ...   ...   ...
1841  2020-10-23  15:31:22   71.0     0     1
1842  2020-10-23  15:31:23   73.0     0     1
1843  2020-10-23  15:31:24   79.0     0     0
1844  2020-10-23  15:31:25   85.0     0     0
1845  2020-10-23  15:31:26   84.0     1     0

[1846 rows x 5 columns]

In [5]:
inter_df

            date      time  speed  ldws  lkas
0     2020-10-23  14:51:28     28     0     0
1     2020-10-23  14:51:29     27     0     1
2     2020-10-23  14:51:30     27     0     1
3     2020-10-23  14:51:31     28     0     1
4     2020-10-23  14:51:32     29     0     1
...          ...       ...    ...   ...   ...
1841  2020-10-23  15:31:22     71     0     1
1842  2020-10-23  15:31:23     73     0     1
1843  2020-10-23  15:31:24     79     0     0
1844  2020-10-23  15:31:25     85     0     0
1845  2020-10-23  15:31:26     84     1     0

[1846 rows x 5 columns]

In [6]:
ffill_df

            date      time  speed  ldws  lkas
0     2020-10-23  14:51:28     28     0     0
1     2020-10-23  14:51:29     27     0     1
2     2020-10-23  14:51:30     27     0     1
3     2020-10-23  14:51:31     28     0     1
4     2020-10-23  14:51:32     29     0     1
...          ...       ...    ...   ...   ...
1841  2020-10-23  15:31:22     71     0     1
1842  2020-10-23  15:31:23     73     0     1
1843  2020-10-23  15:31:24     79     0     0
1844  2020-10-23  15:31:25     85     0     0
1845  2020-10-23  15:31:26     84     1     0

[1846 rows x 5 columns]

In [7]:
# df = pd.merge(log_df, out_df, on = "time", how = "outer")
df1 = pd.merge(log_df, inter_df, on = "time")
df1 = df1.rename({'date_x':'date'}, axis = 'columns')
df1 = df1[['date', 'time', 'provider', 'device_name', 'latitude', 'longtitude', 'speed', 'ldws', 'lkas']]
df1

,date,time,provider,device_name,latitude,longtitude,speed,ldws,lkas
0,2020-10-23,15:11:10,gps,device0,37.384870,126.855848,47,0,0
1,2020-10-23,15:11:11,gps,device0,37.384870,126.855848,48,0,0
2,2020-10-23,15:11:12,gps,device0,37.384870,126.855848,88,0,0
3,2020-10-23,15:11:13,gps,device0,37.384870,126.855848,53,0,0
4,2020-10-23,15:11:14,gps,device0,37.384870,126.855848,55,0,0
...,...,...,...,...,...,...,...,...,...
1025,2020-10-23,15:31:22,gps,device0,37.375951,126.932128,71,0,1
1026,2020-10-23,15:31:23,gps,device0,37.375978,126.932307,73,0,1
1027,2020-10-23,15:31:24,gps,device0,37.376003,126.932485,79,0,0
1028,2020-10-23,15:31:25,gps,device0,37.376027,126.932663,85,0,0
1029,2020-10-23,15:31:26,gps,device0,37.376048,126.932837,84,1,0

In [8]:
df1.isnull().sum()

date           0
time           0
provider       0
device_name    0
latitude       0
longtitude     0
speed          0
ldws           0
lkas           0
dtype: int64

In [9]:
df2 = pd.merge(log_df, inter_df, on="time", how="right")
df2 = df2.rename({'date_y':'date'}, axis = 'columns')
df2 = df2[['date', 'time', 'provider', 'device_name', 'latitude', 'longtitude', 'speed', 'ldws', 'lkas']]
df2

,date,time,provider,device_name,latitude,longtitude,speed,ldws,lkas
0,2020-10-23,14:51:28,NaN,NaN,NaN,NaN,28,0,0
1,2020-10-23,14:51:29,NaN,NaN,NaN,NaN,27,0,1
2,2020-10-23,14:51:30,NaN,NaN,NaN,NaN,27,0,1
3,2020-10-23,14:51:31,NaN,NaN,NaN,NaN,28,0,1
4,2020-10-23,14:51:32,NaN,NaN,NaN,NaN,29,0,1
...,...,...,...,...,...,...,...,...,...
1842,2020-10-23,15:31:22,gps,device0,37.375951,126.932128,71,0,1
1843,2020-10-23,15:31:23,gps,device0,37.375978,126.932307,73,0,1
1844,2020-10-23,15:31:24,gps,device0,37.376003,126.932485,79,0,0
1845,2020-10-23,15:31:25,gps,device0,37.376027,126.932663,85,0,0
1846,2020-10-23,15:31:26,gps,device0,37.376048,126.932837,84,1,0

In [10]:
df3 = pd.merge(log_df, out_df, on = "time")
df3 = df3.rename({'date_x':'date'}, axis = 'columns')
df3 = df3[['date', 'time', 'provider', 'device_name', 'latitude', 'longtitude', 'speed', 'ldws', 'lkas']]
df3

,date,time,provider,device_name,latitude,longtitude,speed,ldws,lkas
0,2020-10-23,15:11:10,gps,device0,37.384870,126.855848,47.0,0,0
1,2020-10-23,15:11:11,gps,device0,37.384870,126.855848,48.0,0,0
2,2020-10-23,15:11:12,gps,device0,37.384870,126.855848,88.0,0,0
3,2020-10-23,15:11:13,gps,device0,37.384870,126.855848,53.0,0,0
4,2020-10-23,15:11:14,gps,device0,37.384870,126.855848,55.0,0,0
...,...,...,...,...,...,...,...,...,...
1025,2020-10-23,15:31:22,gps,device0,37.375951,126.932128,71.0,0,1
1026,2020-10-23,15:31:23,gps,device0,37.375978,126.932307,73.0,0,1
1027,2020-10-23,15:31:24,gps,device0,37.376003,126.932485,79.0,0,0
1028,2020-10-23,15:31:25,gps,device0,37.376027,126.932663,85.0,0,0
1029,2020-10-23,15:31:26,gps,device0,37.376048,126.932837,84.0,1,0

In [11]:
df3.isnull().sum()

date            0
time            0
provider        0
device_name     0
latitude        0
longtitude      0
speed          49
ldws            0
lkas            0
dtype: int64

In [12]:
df4 = pd.merge(log_df, out_df, on = "time", how = "right")
df4 = df4.rename({'date_y':'date'}, axis = 'columns')
df4 = df4[['date', 'time', 'provider', 'device_name', 'latitude', 'longtitude', 'speed', 'ldws', 'lkas']]
df4

,date,time,provider,device_name,latitude,longtitude,speed,ldws,lkas
0,2020-10-23,14:51:28,NaN,NaN,NaN,NaN,28.0,0,0
1,2020-10-23,14:51:29,NaN,NaN,NaN,NaN,27.0,0,1
2,2020-10-23,14:51:30,NaN,NaN,NaN,NaN,27.0,0,1
3,2020-10-23,14:51:31,NaN,NaN,NaN,NaN,28.0,0,1
4,2020-10-23,14:51:32,NaN,NaN,NaN,NaN,29.0,0,1
...,...,...,...,...,...,...,...,...,...
1842,2020-10-23,15:31:22,gps,device0,37.375951,126.932128,71.0,0,1
1843,2020-10-23,15:31:23,gps,device0,37.375978,126.932307,73.0,0,1
1844,2020-10-23,15:31:24,gps,device0,37.376003,126.932485,79.0,0,0
1845,2020-10-23,15:31:25,gps,device0,37.376027,126.932663,85.0,0,0
1846,2020-10-23,15:31:26,gps,device0,37.376048,126.932837,84.0,1,0

In [13]:
df4.isnull().sum()

date             0
time             0
provider       817
device_name    817
latitude       817
longtitude     817
speed          202
ldws             0
lkas             0
dtype: int64

In [14]:
df1.to_csv("./1023_inner_merge_interpolate.csv", index = False)
df2.to_csv("./1023_right_merge_interpolate.csv", index = False)
df3.to_csv("./1023_inner_merge_rawdata.csv", index = False)
df4.to_csv("./1023_right_merge_rawdata.csv", index = False)