In [35]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv("H:/hainyoung/project/csv/1015_output_no_frame_shifts_5frames.csv", encoding = "utf-8")

In [37]:
df

,date_time,speed,lane,auto,lane_white_avg,lane_green_avg,auto_white_avg,auto_green_avg
0,2020-10-0610:42:37,NaN,0,0,0.0,0.0000,0.0,0.0000
1,2020-10-0610:42:38,NaN,0,0,0.0,0.0000,0.0,0.0000
2,2020-10-0610:42:38,NaN,0,0,0.0,0.0000,0.0,0.0000
3,2020-10-0610:42:38,NaN,0,0,0.0,0.0000,0.0,0.0000
4,2020-10-0610:42:38,NaN,0,0,0.0,0.0000,0.0,0.0000
...,...,...,...,...,...,...,...,...
6750,2020-10-0611:05:07,61,1,1,0.0,14.5825,0.0,9.6469
6751,2020-10-0611:05:08,61,1,1,0.0,14.3423,0.0,9.3430
6752,2020-10-0611:05:08,NaN,1,1,0.0,13.7647,0.0,8.9347
6753,2020-10-0611:05:08,60,1,1,0.0,11.8576,0.0,8.1741
6754,2020-10-0611:05:08,60,1,1,0.0,11.3930,0.0,7.4776

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6755 entries, 0 to 6754
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date_time       6755 non-null   object
 1   speed           3444 non-null   object
 2   lane            6755 non-null   int64
 3   auto            6755 non-null   int64
 4   lane_white_avg  6755 non-null   float64
 5   lane_green_avg  6755 non-null   float64
 6   auto_white_avg  6755 non-null   float64
 7   auto_green_avg  6755 non-null   float64
dtypes: float64(4), int64(2), object(2)
memory usage: 422.3+ KB

In [39]:
df.describe()

,lane,auto,lane_white_avg,lane_green_avg,auto_white_avg,auto_green_avg
count,6755.000000,6755.000000,6755.000000,6755.000000,6755.000000,6755.000000
mean,0.279349,0.320651,0.133275,2.266016,0.001528,1.633820
std,0.448712,0.466762,0.735355,7.480197,0.080522,5.448668
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,0.000000,0.535650,0.000000,0.365500
max,1.000000,1.000000,10.002200,76.255900,6.546500,53.121300

In [40]:
df.isnull().sum()

date_time            0
speed             3311
lane                 0
auto                 0
lane_white_avg       0
lane_green_avg       0
auto_white_avg       0
auto_green_avg       0
dtype: int64