In [1]:
import pandas as pd
import numpy as np

In [2]:
df_merged = pd.read_csv('./1107_merged_data.csv', encoding = 'utf-8')
df_merged

                    rtime  lkas  ldws  speed   latitude  longtitude
0     2020-11-07 13:40:48     0     1      9  37.286733  127.103456
1     2020-11-07 13:40:49     0     1      8  37.286714  127.103458
2     2020-11-07 13:40:50     0     1      8  37.286701  127.103459
3     2020-11-07 13:40:51     0     1      8  37.286682  127.103462
4     2020-11-07 13:40:52     0     1      8  37.286659  127.103463
...                   ...   ...   ...    ...        ...         ...
6773  2020-11-07 16:16:30     1     1     71  37.325132  126.988612
6774  2020-11-07 16:16:31     1     1     72  37.325283  126.988524
6775  2020-11-07 16:16:32     1     1     73  37.325441  126.988433
6776  2020-11-07 16:16:33     1     1     75  37.325601  126.988338
6777  2020-11-07 16:16:34     1     1     76  37.325764  126.988242

[6778 rows x 6 columns]

In [3]:
df_dist = pd.read_csv('./1107_distance_clean_data.csv', encoding = 'utf-8')
df_dist

                    rtime  distance
0     2020-11-07 13:40:47     13.10
1     2020-11-07 13:40:48     13.52
2     2020-11-07 13:40:49     13.96
3     2020-11-07 13:40:50     14.80
4     2020-11-07 13:40:51     15.58
...                   ...       ...
7815  2020-11-07 16:16:29     16.90
7816  2020-11-07 16:16:30     17.72
7817  2020-11-07 16:16:31     21.57
7818  2020-11-07 16:16:32     20.21
7819  2020-11-07 16:16:33     21.10

[7820 rows x 2 columns]

In [4]:
data = pd.merge(df_merged, df_dist, on = 'rtime')
data

                    rtime  lkas  ldws  speed   latitude  longtitude  distance
0     2020-11-07 13:40:48     0     1      9  37.286733  127.103456     13.52
1     2020-11-07 13:40:49     0     1      8  37.286714  127.103458     13.96
2     2020-11-07 13:40:50     0     1      8  37.286701  127.103459     14.80
3     2020-11-07 13:40:51     0     1      8  37.286682  127.103462     15.58
4     2020-11-07 13:40:52     0     1      8  37.286659  127.103463     16.00
...                   ...   ...   ...    ...        ...         ...       ...
5586  2020-11-07 16:16:29     1     1     71  37.324982  126.988700     16.90
5587  2020-11-07 16:16:30     1     1     71  37.325132  126.988612     17.72
5588  2020-11-07 16:16:31     1     1     72  37.325283  126.988524     21.57
5589  2020-11-07 16:16:32     1     1     73  37.325441  126.988433     20.21
5590  2020-11-07 16:16:33     1     1     75  37.325601  126.988338     21.10

[5591 rows x 7 columns]

In [5]:
data = data[['rtime', 'lkas', 'ldws', 'distance', 'speed', 'latitude', 'longtitude']]
data

                    rtime  lkas  ldws  distance  speed   latitude  longtitude
0     2020-11-07 13:40:48     0     1     13.52      9  37.286733  127.103456
1     2020-11-07 13:40:49     0     1     13.96      8  37.286714  127.103458
2     2020-11-07 13:40:50     0     1     14.80      8  37.286701  127.103459
3     2020-11-07 13:40:51     0     1     15.58      8  37.286682  127.103462
4     2020-11-07 13:40:52     0     1     16.00      8  37.286659  127.103463
...                   ...   ...   ...       ...    ...        ...         ...
5586  2020-11-07 16:16:29     1     1     16.90     71  37.324982  126.988700
5587  2020-11-07 16:16:30     1     1     17.72     71  37.325132  126.988612
5588  2020-11-07 16:16:31     1     1     21.57     72  37.325283  126.988524
5589  2020-11-07 16:16:32     1     1     20.21     73  37.325441  126.988433
5590  2020-11-07 16:16:33     1     1     21.10     75  37.325601  126.988338

[5591 rows x 7 columns]

In [7]:
data.isnull().sum()

rtime         0
lkas          0
ldws          0
distance      0
speed         0
latitude      0
longtitude    0
dtype: int64

In [8]:
data.to_csv('./1107_final_data.csv', encoding = 'utf-8')